


	
		<h1>Welcome to ACME <%= @crm_app_name %></hl>
		<h2>Main Menu</h2>
		<main>
		

		<h2>Subtitle</h2>
		<p>Typically layouts are pushed even further than just the bare minimum valid HTML, as they allow you to apply an overall look and feel to your entire application. For each page, give your application a consistent look by creating a page header, footer and a navigation in your layout.</p>
		</main>




<ul>
	<li><a href="/contacts">View all contacts</a></li>
	<li><a href="/contacts/new">Add a new contact</a></li>
	  <!-- please complete me with links to other actions -->
</ul>
