<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>HTML & CSS</title>
		<link rel="stylesheet" type="text/css" href="/styles.css">

	</head>
	<body>
		<%= yield %>


		<footer>This is a footer.</footer>


	</body>

</html>	