<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Cogistics CRM - Flex Your Muscle!</title>
		<link rel="stylesheet" type="text/css" href="/styles.css">

	</head>
	<body>
		
		<%= yield %>


		<footer>&copy; 2014 ACME CRM Solutions Inc.</footer>


	</body>

</html>	