<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ACME CRM - Git With The Program!</title>
		<link rel="stylesheet" type="text/css" href="/styles.css">

	</head>
	<body>
		<header><h1>Welcome to ACME <%= @crm_app_name %></hl></header>
		
		<%= yield %>


		<footer>&copy; 2014 ACME CRM Solutions INc.</footer>


	</body>

</html>	