

<h2>Create New Contact</h2>

<form action="/contacts" method="post">
	<p>First Name</p>
	<input type="text" name="first_name" placeholder="First Name">
	<p>Last Name</p>
  	<input type="text" name="last_name" placeholder="Last Name">
  	<p>Email Address</p>
  	<input type="email" name="email" placeholder="Email">
  	<p>Comments</p>
  	<input type="text" name="note" placeholder="Add a note">
  	<input type="submit" name="Submit">
</form>