 * {
	margin: 0;
	padding: 5px;
}

header {font: 16px Helvetica, Sans-Serif;
}

body {
    background-image: url(background1.png);
   	#background-repeat: no-repeat;
	font: 16px Helvetica, Sans-Serif;
	line-height: 24px;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	padding: 0 26px 0 0;
	width: 400px;
	float: left;
	height: 0px;

}

footer {font: 11px Helvetica, Sans-Serif;}